@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --animate-slide-hair-image: slide-hair-image 270s linear infinite;
  --animate-btn-grow: btn-grow 0.3s ease-in-out;
  --animate-btn-shrink: btn-shrink 0.3s ease-in-out;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-party-vibes: var(--font-party-vibes);
  --font-chicle: var(--font-chicle);

  @keyframes slide-hair-image {
    0% {
      background-position: center -10000px;
    }
    100% {
      background-position: center 0%;
    }
  }

  @keyframes btn-grow {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }

  @keyframes btn-shrink {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (max-width: 359px) {
  html {
    font-size: 14px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-party-vibes), Helvetica, sans-serif;
}

.groovy-container {
  border: 3px solid transparent;
  border-radius: var(--radius-lg);
  background: linear-gradient(white, white) padding-box,
    linear-gradient(45deg, #ff6b6b, #4ecdc4, #feca57) border-box;
}

.groovy-input {
  border: 3px solid transparent;
  border-radius: var(--radius-lg);
  background: linear-gradient(white, white) padding-box,
    linear-gradient(45deg, #ff6b6b, #4ecdc4, #feca57) border-box;
  font-size: var(--text-lg);
  line-height: var(--tw-leading, var(--text-lg--line-height));
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
  resize: none;
  width: 100%;

  &:focus {
    --tw-outline-style: none;
    outline-style: none;

    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width))
      var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow),
      var(--tw-ring-shadow), var(--tw-shadow);

    --tw-ring-color: var(--color-pink-300);
  }
}

.groovy-button {
  background: linear-gradient(45deg, #e56e3f, #cd4eb9);
  color: var(--color-white);
  cursor: pointer;
  font-size: var(--text-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--tw-leading, var(--text-xl--line-height));
  width: 100%;
}

.btn-transition {
  transition: transform 0.15s ease-in-out;
  will-change: transform;

  &:hover {
    transform: scale(1.03);
  }
  &:active {
    transform: scale(0.97);
  }
}
